<!DOCTYPE html>
<html>
	<head>
		<title>Welcome To The Quiz</title>
		<link rel="stylesheet" type="text/css" href="quizS.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="quizJS.js"></script>
	</head>
	<body>
		<header>
			<p>
				THE QUIZ!
			</p>
		<header>
		<p>
			To test THE knowlege
		</p>
		<table id="table1">
			<tr>
				<td>Is this a good quiz?</td>
				<td id="y1" class="a1">Yes</td>
				<td id="n1" class="a1">No</td>
				<td id="pr1">There is no answer.</td>  
			</tr>
			<tr>
				<td id="q2" >In your opinion is this quiz a waste of time?</td>
				<td id="y2" class="a2" >Yes</td>
				<td id="n2" class="a2" >No</td>
				<td id="pr2">Your opinion is irrelevant the answer is no.</td>
				<td id="pr21">Correct.</td>
			</tr>
			<tr>
				<td id="q3">Is the universe real? or are we all just the mental constructs of a unstable squirrel?</td>
				<td id="y3" class="a3">Yes</td>
				<td id="n3" class="a3">No</td>
				<td id="pr3">No</td>
				<td id="pr31">Yes</td>
			</tr>
			<tr>
				<button id="b1" type="button" >Click for Secret Ending.</button>
			</tr>
		</table>
		<img src="gameOver.jpg" alt="fail" >
		<p id="outOf">You got {{ session['rightWrong'] }} correct.</p>
	</body>
	
</html>
