<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Welcome To The Quiz</title>
		<link rel="stylesheet" type="text/css" href="static/quizS.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="static/quizJS.js"></script>
	</head>
	<body>
		<h3>
				THE QUIZ!
		</h3>
		<p>
			To test THE knowlege
		</p>
		<table id="table1">
			<tr>
				<td>Is this a good quiz?</td>
				<td id="y1" class="a1">Yes</td>
				<td id="n1" class="a1">No</td>
				<td id="pr1">There is no answer.</td>  
			</tr>
			<tr>
				<td id="q2" >In your opinion is this quiz a waste of time?</td>
				<td id="y2" class="a2" >Yes</td>
				<td id="n2" class="a2" >No</td>
				<td id="pr2">Your opinion is irrelevant the answer is no.</td>
				<td id="pr21">Correct.</td>
			</tr>
			<tr>
				<td id="q3">Is the universe real? or are we all just the mental constructs of a unstable squirrel?</td>
				<td id="y3" class="a3">Yes</td>
				<td id="n3" class="a3">No</td>
				<td id="pr3">No</td>
				<td id="pr31">Yes</td>
			</tr>
		</table>
		<div>
		        <iframe src="/outOf" style="border:none;"></iframe>
		</div>
		{% if session['rand'] <= 25 %}
			<img src="static/gameOver.jpg" alt="fail" >
		{% elif session['rand'] <=50 and session['rand'] > 25 %}
			<img src="static/violatedTheLaw.jpg" alt="fail" >
		{% elif session['rand'] > 50 and session['rand'] <= 75 %}
			<img src="static/Thanos.gif" alt="fail" >
		{% elif session['rand'] > 75 %}
			<img src="static/ggEasy.gif" alt="fail" >
		{% endif %}
		<div>
		        <button id="over" type="button">Refresh</button>
		        <button id="b1" type="button" >Click for Secret Ending.</button>
		</div>
	</body>
	
</html>
